@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';
@import './_caseStudy.scss';
@import './_awards.scss';
@import './_sideProjects.scss';

.home {
  dd {
    margin-bottom: 15px;
  }
}

.skillLogo {
  width: 50px;
  max-height: 60px;
}

.aboutMe {
  background-color: $navbar-inverse-bg;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
