@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
.reactSvg {
	.blueFill,
	.blueStroke {
		@include transition(fill .1s ease-in, stroke .1s ease-in);
	}
	.blueFill {
		fill: #a5a5a5;
	}
	.blueStroke {
		stroke: #a5a5a5;
	}
	&:hover {
		.blueFill {
			fill: #00D8FF;
		}
		.blueStroke {
			stroke: #00D8FF;
		}
	}
}
