@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';

.webpackSvg {
	.blue1,
	.blue2,
	.blue3,
	.sBlue {
		@include transition(fill .1s ease-in, stop-color .1s ease-in);
	}
	.blue1 {
		stop-color: grayscale(#93B4E7);
	}
	.blue2 {
		stop-color: grayscale(#B9D1F8);
	}
	.blue3 {
		stop-color: grayscale(#9CB6E0);
	}
	.sBlue {
		fill: grayscale(#6F95DB);
	}
}
.webpackSvg:hover {
	.blue1 {
		stop-color: #93B4E7;
	}
	.blue2 {
		stop-color: #B9D1F8;
	}
	.blue3 {
		stop-color: #9CB6E0;
	}
	.sBlue {
		fill: #6F95DB;
	}
}
